body {
    background-color: black;
}
.cabecalho{
    background-color: black;
    color: white;
    text-align: right;
    max-width: 10000436px;
    
}
.conteudo-principal{
    background-color: rgb(0, 0, 50);
    max-width: 99999999px;
}
.imagem-principal{
    width: 100px;
    height: 100px;
}
.cabecalho-paragrafo{
    font-weight: bold;
}
.conteudo-autor{
    font-weight: bold;
    text-decoration: italic;
    color: gray;
}
.conteudo-principal-texto{
    font-weight: bold;
    color:white;
}
.conteudo-principal-titulo{
    color: white;
}